/******************************************************************
	Fonction	:  Style du composant Ghibli.js
	Creation	:  GV juillet-2021
 ******************************************************************/

.ghibli-list-container {
  text-align: center;
  .header-title {
    display: inline-block;
    position: relative;
    font-size: 400%;
    font-family: "Bangers", cursive;
    margin: 0px;
    padding: 20px;
    color: $color-white;
    text-shadow: 6px 6px 10px $color-blue-2;
  }
  h1 {
    margin: 20px;
  }
  .list-film-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
