/******************************************************************
	Fonction	:  Style du composant Magic.js
	Creation	:  GV juillet-2021
 ******************************************************************/

.magic-the-gathering-page {
  text-align: center;
  .header-title {
    display: inline-block;
    position: relative;
    font-size: 400%;
    font-family: "Bangers", cursive;
    margin: 0px;
    padding: 20px;
    color: $color-white;
    text-shadow: 0px 0px 30px red;
  }
  .magic-the-gathering-list-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .next-previous {
    margin: 25px;
    span {
      padding: 5px;
      margin: 5px;
      background: $color-white;
      border-radius: 15px;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      border: 5px solid transparent;
      font-size: 2em;
      transition: 0.3s;
      &:hover {
        border: 5px solid green;
      }
    }
  }
}
