.film-container {
  display: flex;
  width: 45%;
  margin: 10px;
  background-color: $color-white;
  color: black;
  border: 2px solid black;
  h1 {
    margin: 10px 0;
  }
  img {
    width: 250px;
    height: 400px;
  }
  p {
    padding: 3px;
    .result-span {
      color: green;
    }
    .meta-span {
      font-weight: bold;
    }
  }
  .description {
    padding: 5px;
    text-align: left;
  }
  .photo {
      display: flex;
      padding: 5px;
      align-items: start;
  }
}
